<div class="modal-content">
    <form class="col s12" #form="ngForm" (ngSubmit)="onSubmit(form.value)">
        <fieldset>
            <legend>Add Exercise</legend>
            <div class="row">
                <div class="image-container col l6 m12">
                    <img src="http://localhost:8003/system/default-image.jpg" class="image" (click)="onImageClick($event)">

                    <div class="image-picker-container">
                        <span>Image</span>
                        <input class="image-picker" type="file" (change)="onImageChange($event)">
                    </div>

                </div>
                <div class="file-field input-field col l6 m12">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">perm_media</i>
                        <input class="{{false ? 'invalid': ''}}" ngControl="name" #name="ngForm" type="text" id="name" name="name">
                        <label for="name">Name</label>
                    </div>
                    <div class="input-field col s12">
                        {{sets}} sets
                        <p class="range-field inline-block">
                            <input id="sets" [(ngModel)]="sets" (ngModelChange)="onSetsChange($event)" type="range" min="1" max="10" />
                        </p>
                    </div>
                    <div class="input-field col s12">
                        <p>
                            <input name="group" type="radio" id="repetitions" (click)="showRepetitionsInput()"/>
                            <label for="repetitions">Repetitions</label>
                        </p>
                        <p>
                            <input name="group" type="radio" id="duration" (click)="showDurationInput()"/>
                            <label for="duration">Duration</label>
                        </p>
                    </div>
                </div>
            </div>
            <div class="input-field col s12">
                <i class="material-icons prefix">description</i>
                <textarea class="materialize-textarea" ngControl="description" #password="ngForm" type="text" id="description" name="description"></textarea>
                <label for="password">Desctiption</label>
            </div>
        </fieldset>
    </form>
</div>
<div class="modal-footer">
    <a (click)="onAddExercise($event)" disabled='true' class=" modal-action modal-close waves-effect waves-green btn-flat">Add</a>
</div>