<div class="modal-content">
    <form class="col s12" #form="ngForm" (ngSubmit)="onSubmit(form.value)">
        <fieldset>
            <legend>Add Exercise</legend>
            <div class="row">
                <div class="image-container col l6 m12">
                    <img src="http://localhost:8003/system/default-image.jpg" class="image" (click)="onImageClick($event)">

                    <div class="image-picker-container">
                        <span>Image</span>
                        <input class="image-picker" type="file" (change)="onImageChange($event)">
                    </div>

                </div>
                <div class="file-field input-field col l6 m12">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">perm_media</i>
                        <input class="{{false ? 'invalid': ''}}" ngControl="name" #name="ngForm" type="text" id="name" name="name">
                        <label for="name">Name</label>
                    </div>
                    <div class="input-field col s12">
                        {{sets}} sets
                        <p class="range-field inline-block">
                            <input id="sets" [(ngModel)]="sets" (ngModelChange)="onSetsChange($event)" type="range" min="1" max="10" />
                        </p>
                    </div>
                    <div class="input-field col s12">
                        <p>
                            <input name="group" type="radio" id="repetitions" (click)="showRepetitionsInput()" [checked]="showRepetitions" />
                            <label for="repetitions">Repetitions</label>

                            <input name="group" type="radio" id="duration" (click)="showDurationInput()" [checked]="showDuration" />
                            <label for="duration">Duration</label>
                        </p>
                    </div>
                    <div *ngIf="showDuration" class="input-field col s12 text-center"> <!-- Clock BEGIN-->
                        <div class="margin-top-20 row inline-block">
                            <div class="clock table-cell">
                                <span class="em2-5">{{minutes}}</span>
                                <br>
                                <span class="em2">{{seconds}}</span>
                            </div>
                        </div>
                        <p class="range-field inline-block">
                            <input id="time" [(ngModel)]="duration" (ngModelChange)="onDurationChange($event)" type="range" min="0" max="360" />
                        </p>
                    </div> <!-- Clock END-->

                    <div *ngIf="showRepetitions" class="input-field col s12 text-center"> <!-- Repetitions BEGIN-->
                        <div class="margin-top-20 row inline-block">
                            <div class="reps table-cell">
                                <span class="em2-5">{{repetitions}}</span> <span class="em1-5">Reps</span>
                            </div>
                        </div>
                        <p class="range-field inline-block">
                            <input id="time" [(ngModel)]="repetitions" (ngModelChange)="onRepetitionsChange($event)" type="range" min="0" max="50" />
                        </p>
                    </div> <!-- Repetitions END-->
                </div>
            </div>
            <div class="input-field col s12">
                <i class="material-icons prefix">description</i>
                <textarea class="materialize-textarea" ngControl="description" #password="ngForm" type="text" id="description" name="description"></textarea>
                <label for="description">Desctiption</label>
            </div>
        </fieldset>
    </form>
</div>
<div class="modal-footer">
    <a (click)="onAddExercise($event)" disabled='true' class=" modal-action modal-close waves-effect waves-green btn-flat">Add</a>
</div>