<div class="form-container col s12 m10 offset-m1 l10 offset-l1">
    <form class="col s12" #form="ngForm" (ngSubmit)="onSubmit(form.value)">
        <fieldset>
            <legend>Add Exercises</legend>
            <div class="btn-container row">
                <a class="dropdown-button btn right em2" href="#!" data-activates="addDropdown">+</a>
            </div>
            <h5 *ngIf="!exercises.length" class="no-items">No exercises yet...</h5>
            <ul class="collection" [dragula]='"bag"' [dragulaModel]='exercises'>
                    <li class="collection-item avatar z-depth-2" *ngFor="let exercise of exercises;  let i = index">
                        <template [ngIf]="exercise.type === 'exercise'">
                            {{exercise.name}}
                            <i class="material-icons circle">folder</i>
                            <span class="title">{{exercise.name}}</span>
                            <p>First Line <br>
                                Second Line
                            </p>
                        </template>
                        <template [ngIf]="exercise.type === 'break'">
                            Break
                            <i class="material-icons circle">query_builder</i>
                            <br>
                            <span class="title">{{exercise.time | timeFormat}}</span>
                            <p class="range-field">
                                <input disabled type="range" min="0" max="360" />
                            </p>
                        </template>
                        <a href="#!" class="secondary-content" (click)="onDeleteExercise(i)"><i class="material-icons">delete</i></a>
                    </li>
            </ul>
            

            <button type="button" class="btn waves-effect waves-light left" (click)="onClickBack($event)"><i class="material-icons left">backspace</i>Back to Details</button>
            <button type="submit" class="btn waves-effect waves-light right" [disabled]="!form.form.valid"><i class="material-icons right">done_all</i>Save Routine</button>
        </fieldset>
    </form>
</div>


<div id="addExercise" class="modal">
    <apollo-add-exercise (addExercise)="onAddExercise($event)"></apollo-add-exercise>
</div>

<div id="addBreak" class="modal">
    <div class="modal-content">
    <h4>New Break</h4>
    <div class="input-field col s12 text-center">
        <div class="row inline-block">
            <div class="clock table-cell">
                <span class="em4">{{minutes}}</span>
                <br>
                <span class="em4">{{seconds}}</span>
            </div>
        </div>
        <p class="range-field inline-block">
            <input id="time" [(ngModel)]="time" (ngModelChange)="onChange($event)" type="range" min="0" max="360" />
        </p>
    </div>
</div>
<div class="modal-footer">
    <a (click)="onAddBreak($event)" disabled='true' class=" modal-action modal-close waves-effect waves-green btn-flat">Add</a>
</div>

<ul id="addDropdown" class="dropdown-content"> <!--dropdown content begin-->
    <li>
        <a class="modal-trigger" data-target="addBreak">Break</a>
    </li>
    <li class="divider"></li>
    <li>
        <a class="modal-trigger" data-target="addExercise">Exercise</a>
    </li>
</ul>