.form-container { 
    margin-top: 26px;
}

fieldset {
    border-radius: 5px;
    padding: 15 10 15 10px;
}

legend {
    color: #26A69A;
    font-size: 1.5em;
    font-weight: bold;
}

.collection-item:hover {
    cursor: pointer;
}

/* bug in Dragula module */
.gu-mirror {
    display: none;
}

.margin-right-5 {
    margin-right: 5px;
}

.no-items {
    text-align: center;
    color: #26A69A;
}

.range-field {
    width: 90%;
}

.clock {
    width: 200px;
    height: 200px;
    border: 2px solid #26A69A;
    border-radius: 100%;
    color: #26A69A;
    line-height: 0.9;
}

.em4 {
    font-size: 4em;
}

.em2 {
    font-size: 2em;
}

.text-center {
    text-align: center;
}

.inline-block {
    display: inline-block;
}

.table-cell {
    display: table-cell;
    margin-bottom: 0;
    vertical-align: middle;
}