<div class="form-container col s12 m10 offset-m1 l10 offset-l1">
    <form class="col s12" #form="ngForm" (ngSubmit)="onSubmit(form.value)">
        <fieldset>
            <legend>Add Exercises</legend>
            <div class="btn-container row">
                <a class="waves-effect waves-light btn modal-trigger right" data-target="addBreak">Break</a>
                <a class="waves-effect waves-light btn modal-trigger right margin-right-5" data-target="addExercise">Exercise</a>
            </div>
            <h5 *ngIf="!exercises.length" class="no-items">No exercises yet...</h5>
            <ul class="collection" [dragula]='"bag"' [dragulaModel]='exercises'>
                    <li class="collection-item avatar z-depth-2" *ngFor="let exercise of exercises;  let i = index">
                        <template [ngIf]="exercise.type === 'exercise'">
                            {{exercise.name}}
                            <i class="material-icons circle">folder</i>
                            <span class="title">{{exercise.name}}</span>
                            <p>First Line <br>
                                Second Line
                            </p>
                        </template>
                        <template [ngIf]="exercise.type === 'break'">
                            Break
                            <p class="range-field disabled">
                                <input disabled type="range" min="0" max="360" />
                            </p>
                        </template>
                        <a href="#!" class="secondary-content" (click)="onDeleteExercise(i)"><i class="material-icons">delete</i></a>
                    </li>
            </ul>
            

            <button type="button" class="btn waves-effect waves-light left" (click)="onClickBack($event)"><i class="material-icons left">backspace</i>Back to Details</button>
            <button type="submit" class="btn waves-effect waves-light right" [disabled]="!form.form.valid"><i class="material-icons right">done_all</i>Save Routine</button>
        </fieldset>
    </form>
</div>


<div id="addExercise" class="modal">
    <apollo-add-exercise (addExercise)="onAddExercise($event)"></apollo-add-exercise>
</div>

<div id="addBreak" class="modal">
    <div class="modal-content">
    <h4>New Break</h4>
    <div class="input-field col s12">
        <p class="range-field disabled">
            <input type="range" min="0" max="360" />
        </p>
    </div>
</div>
<div class="modal-footer">
    <a (click)="onAddBreak($event)" disabled='true' class=" modal-action modal-close waves-effect waves-green btn-flat">Add</a>
</div>