<div class="row">
    <h2>Routines</h2>
    <div class="row">
        <button type="button" class="btn waves-effect waves-light" (click)="addRoutine()">New Routine</button>
    </div>
    <hr>
    <div class="row">
        <div *ngFor="#routineList of routines" class="col s12 l6">
            <div *ngFor="#routine of routineList">
                <apollo-routine [routine]="routine"></apollo-routine>
            </div>
        </div>
    </div>
    
    <!--<p *ngIf="!routines.length">No Routines</p>-->
</div>
