<div class="component-container row">
    <div class="col s12">
      <ul class="tabs">
        <li id="details-tab-button" class="tab col s3"><a class="active" href="#details">Details</a></li>
        <li id="exercises-tab-button" class="tab col s3 disabled"><a href="#exercises">Exercises</a></li>
        <li class="tab col s3 disabled"><a href="#blank">:)</a></li>
      </ul>
    </div>
    
    <div id="details" class="col s12">    <!--div DETAILS START--> 
        <apollo-add-details (detailsSubmit)="onDetailsSubmit($event)"></apollo-add-details>
    </div>    <!--div EXERCISES END-->
    
    <div id="exercises" class="col s12">    <!--div EXERCISES START-->
        <apollo-add-exercises></apollo-add-exercises>
    </div>    <!--div EXERCISES END-->
    
    <div id="blank" class="col s12">
    </div>
  </div>