<div class="card-container">
    <div class="card">
        <div class="card-image" (click)="viewDetails(routine._id)">
            <img src="http://localhost:8003{{routine.imageUrl}}" alt="Image not found">
            <span class="card-title">
                {{routine.name}} <br>
                <small>by: Mitko</small>
            </span>
        </div>
        <div class="card-content">
            <p>{{routine.description}}</p>
        </div>
        <div class="card-action">
            <div class="chip">
                Tag
            </div>
            <div class="chip">
                Tag 2
            </div>
            <div class="chip">
                Tag 3
            </div>
        </div>
        <div class="card-action">
            <a class=" l4">Difficulty: ****</a>
            <a class=" l2"><i class="action-icon material-icons">alarm</i> 1h</a>
            <a class=" l2">4 <i class="action-icon material-icons">forum</i></a>
            <a class=" l2">12 <i class="red-color action-icon material-icons">favorite</i></a>
        </div>
    </div>
</div>