<div class="row">
    <h2>Categories</h2>
    <div class="row">
        <button type="button" class="btn waves-effect waves-light" (click)="addCategory()">New Category</button>
    </div>
    <hr>
    <div class="row">
        <div *ngFor="#categoryList of categories" class="col s12 l6">
            <div *ngFor="#category of categoryList">
                <apollo-category [category]="category" (mouseenter)="onMouseEnter($event)"></apollo-category>
            </div>
        </div>
    </div>
    
    <!--<p *ngIf="!categories.length">No Categories</p>-->
</div>
