.component-wrapper {
    background: #304352; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #304352 , #d7d2cc); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #304352 , #d7d2cc); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.match-parent {
    height: 100%;
}

.form-wrapper {
    position: relative;
    top: 30%;
    transform: translateY(-30%);
    opacity: 0.7;
    transition: opacity 1s ease-in-out;
}

.form-wrapper:hover {
  filter: alpha(opacity=50);
  opacity: 1;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.image-container {
    max-height: 30%;
    overflow: hidden;
}

.file-input-wrapper {
    vertical-align: middle;
}