<nav>
    <div class="nav-wrapper">
        <a [routerLink]="[home]" class="brand-logo left">Apollo</a>
        <ul class="public-routes">
            <li *ngFor="#route of routes.left"><a *ngIf="route.access === 'public' || (route.access === 'auth' && isAuth)" [routerLink]="[route.name]">{{route.name}}</a></li>
        </ul>
        <ul class="right">
            <li><img *ngIf="isAuth" src="http://localhost:8003{{userDetails.imageUrl || '/system/profile-icon.png'}}" class="profile-image"></li>
            <li><a *ngIf="isAuth" [routerLink]="[routes.profile.name]">{{userDetails.username}}</a></li>
            <li><a *ngIf="isAuth" (click)="onLogout()">Logout</a></li>
            <li *ngFor="#route of routes.right"><a *ngIf="route.access === 'noAuth' && !isAuth" [routerLink]="[route.name]">{{route.name}}</a></li>
        </ul>
    </div>
</nav>
