<form [ngFormModel]="form" (submit)="onSubmit(form.value)">
    <fieldset>
        <legend>Manage Profile...</legend>
        <div class="form-group">
            <div class="row">
                <div class="col-sm-12 col-md-8 col-lg-8">
                    <a class="thumbnail">
                        <img alt="no image" class="image">
                    </a>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-4">
                    <div class="file-input-wrapper">
                        <label for="name">Image</label>
                        <span class="btn btn-default btn-file">
                            Browse <input type="file" (change)="changeListener($event)">
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <h2>{{profileDetails.username}}</h2>
        <hr>
        
        <div class="form-group">
            <label for="name">Name</label>
            <input class="form-control" ngControl="name" #name="ngForm" type="text" id="name" name="name" placeholder="Name...">
        </div>
        <control-message control="name"></control-message>
        
        <div class="form-group">
            <label for="email">E-mail</label>
            <input class="form-control" ngControl="email" #email="ngForm" type="text" id="email" name="email" placeholder="E-mail...">
        </div>
        <control-message control="email"></control-message>
        
        <button type="submit" class="btn btn-default" [disabled]="!form.valid">Save</button>
        
    </fieldset>
</form>