<form [ngFormModel]="form" (submit)="onSubmit(form.value)">
    <fieldset>
        <legend>New Category...</legend>
        <div class="form-group">
            <div class="row">
                <div class="col-sm-12 col-md-8 col-lg-8">
                    <a class="thumbnail">
                        <img alt="no image" class="image">
                    </a>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-4">
                    <div class="file-input-wrapper">
                        <label for="name">Image</label>
                        <span class="btn btn-default btn-file">
                            Browse <input type="file" (change)="changeListner($event)">
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="name">Name</label>
            <input class="form-control" ngControl="name" #name="ngForm" type="text" id="name" name="name" placeholder="Name...">
        </div>
        <div class="form-group">
            <label for="username">Username</label>
            <textarea class="form-control" ngControl="username" #description="ngForm" id="username" name="username" placeholder="Username..." rows="5"></textarea>
        </div>
        <div class="form-group">
            <label for="email">E-mail</label>
            <textarea class="form-control" ngControl="email" #description="ngForm" id="email" name="email" placeholder="E-mail..." rows="5"></textarea>
        </div>
        
        <button type="submit" class="btn btn-default" [disabled]="!form.form.valid">Save</button>
    </fieldset>
</form>