a {
    cursor: pointer;
}

ul {
    list-style-type: none;
}

.search-wrapper {
    margin-top: 0px;
}

.add-button {
    margin-bottom: 15px;
}

.card-image span small {
    display: none;
}

.card-image:hover span small {
    display: inline;
}

.card-action {
    padding: 10 20px;
}

.card-action a {
    
}

.action-icon {
    font-size: 15px;
}